extend ./layout.pug
block content
    form
        input#name(type='text' name='name' placeholder='name' required)
        br
        br
        input#pwd(type='pwd' name='pwd' placeholder='password' required)
        br
        br
        input#button(type="button", value="login")