extend ./layout.pug
block content
    form(action="/account", method="POST")
        input#name(type='text' name='name' placeholder='name' required)
        br
        br
        input#pwd(type='password' name='pwd' placeholder='password' required)
        br
        br
        input#button(type="submit", value="log in")
        br
        br
        a(href='/signup')
            input#button(type="button", value="sign up")

