extend ./layout.pug
block content
    div#contact
        p
            |   phone | +1.000.000.0000
            br
            |   email | xxxxx@gmail.com 
            br
            |   instagram | @mbTRAILS       
