extend ./layout.pug
block content
    div#contact
        p
            |   phone | +1.000.000.0000
        p
            |   email | xxxxx@gmail.com
        p 
            |   instagram | @mbTRAILS       
        