extend ./layout.pug
block content
  nav#right 
    each item in mainMenu 
      div.mainMenu-container 
        a#trailType(href="/mainMenu/" + item.id)= item.name

  div#mainMessage
      p 
        | Our goal is to provide the resources necessary to promote the development and use of recreational trail throughout Manitoba.
        | Thousands of kilometres of trails crisscross Manitoba. These are only a few of the choices available in more than a dozen of
        | Manitoba's major provincial parks. Experience the rich cultural heritage and enjoy the spectacular beauty of our trails. More
        | than four million incredible hectares of land and water set aside for your enjoyment. Choose from lush boreal forests, perfect
        | prairie parkland, intriguing historic, sandy beach and pristine lake trails. Use this website to find a trail that entices you
        | and speaks to your desire for adventure in any season of the year. You'll find links to various trails, maps, news and more.



