doctype html
html(lang='en')
  head
    title= mbTrails
    link(rel="stylesheet", href="/css/styles.css")
    block styles

    block scripts  

  body
    img#bg(src='https://lp-cms-production.imgix.net/2019-06/6b622d97ace75b0ed5fb1fea9a40b48d-manitoba.jpg?auto=format&fit=crop&ixlib=react-8.6.4&h=520&w=1312' alt='')
    header 
      nav
        ul
          li
            div
              a(href='/')
                img#map(src='/img/MB.png' alt='' width= '50px')
                span mbTRAILS
          li
            a(href='/contact') contact
          li
            a(href='/merch') merch
          li
            a(href='/account') account
          li
            a#shoppingCart(href='/shoppingCart') 
              img(src='/img/bag.png' alt='' width= '50px')

    block content
  
script(src="/js/scripts.js")