extend ./layout.pug
block content
    div.containerMerch
        div.merch
            a(href='#')
                img#t-shirt(src='/img/t-shirt.png' alt='' width= '200px')
            .number
                span.minus -
                input(type='text' value='1')
                span.plus +
            button(onclick='{}')
                | add to cart

        div.merch
            a(href='#')
                img#hat(src='/img/hat.png' alt='' width= '200px') 
            .number
                span#minus -
                input#hatInput(type='text' value='1')
                span#plus +
            button(onclick='{}')
                | add to cart
                
        div.merch
            a(href='#')
                img#mug(src='/img/mug.png' alt='' width= '200px') 
            .number
                span.minus -
                input(type='text' value='1')
                span.plus +
            button(onclick='{}')
                | add to cart
    
        button#viewCart(onclick='{}')
                | view cart   