* {
    padding: 0;
    margin: 0;
  }
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-height: 100%;
  min-width: 1024px;
  width: auto;
  height: auto;
  filter: grayscale(100%);
  opacity: 0.4;
  z-index: -10;
  }
body {
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', monospace;
  font-size: 15px;
  }

header {
  /* background-color: rgb(126, 126, 126);   */
  position: fixed;  
  left: 0.5%;  
  right: 0.5%;  
  top: 1%;  
  height: 12%;      
  box-shadow: 0 0 25px 0 black;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; 
  }

header * {  
  display: inline; 
  }  

/* header li {  
  margin: 100px;
  margin-bottom: 100px;  
  }   */

header li a {  
  color: rgb(0, 0, 0);  
  text-decoration: none;
  vertical-align: middle;
  margin-right: 300px;
  /* margin-bottom: 100px; */
  /* text-align: justify;    */
  }

header li a:hover {  
  border-bottom: 2px solid rgb(34, 196, 28);  
  }

#map {  
  color: rgb(255, 255, 255);  
  text-decoration: none; 
  margin-left: 20px;
  }

#shoppingCart {
  margin-right: 0;
}


#mainMessage {
  position: fixed; 
  top: 43%;
  left: 39.5%;
  right: 25%; 
  /* width: auto;
  height: auto; */
  text-align: justify;
  }

/* RIGHT NAVBAR */
#right {
  /* background-color: rgb(126, 126, 126); */
  box-shadow: 0 0 25px 0 black; 
  position: fixed;
  align-items: center;
  text-align: center;   
  left: 0.5%;    
  top: 14%;   
  width: 10%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }

#trailType {
  color: rgb(0, 0, 0);  
  text-decoration: none;
  }

#trailType:hover {  
  border-bottom: 2px solid rgb(34, 196, 28);  
  }


/* ALL, SUMMER, WINTER PAGES */
h3 {
  top: 25%;
  display:absolute;
  position: fixed;
  text-align: center;
  width:100%;
  height:100%;
  }

.container {
  float: left;
  width: 100%;
  margin-top: 20%;
}

#trails {
  /* float: left; */
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#trails li {
  float: left;
  position: relative;
  list-style: none;
}

.trail {
  display: inline-block;
  margin-left: 40%;
  width: 200px;
  filter: grayscale(60%);
}

/* #trails li p {
  display: inline;
  float: left;
  position: relative;
  width: 20%;
} */

/* CONTACT PAGE */
#contact {
  position: fixed; 
  top: 50%;
  left: 45%;
  right: 40%; 
  text-align: justify;
  }

/* MERCH PAGE */
.containerMerch {
  width: 90%;
  margin:auto;
  margin-top: 10%;
  display: table;
  position: relative;
}

.merch {
  float: left;
  display: table-cell;
} 

#t-shirt {
  margin-left:40%;
  width: 35%;
  vertical-align: middle;
}

#hat {
  margin-top: 1%;
  margin-left:40%;
  width: 35%;
}

#mug {
  margin-left:40%;
  width: 35%;
}

span {cursor:pointer; }

.number{
  margin:50px;
	margin-left:120px;
  width:fit-content;
  vertical-align: middle;  
}

.minus, .plus{
	width:20px;
	height:20px;
	background:#f2f2f2;
	border-radius:4px;
	padding:8px 5px 8px 5px;
	border:1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-left: 45%;
}

#minus, #plus{
	width:20px;
	height:20px;
	background:#f2f2f2;
	border-radius:4px;
	padding:8px 5px 8px 5px;
	border:1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-left: 60%;
}

input{
	height:34px;
  width: 50px;
  text-align: center;
  font-size: 26px;
	border:1px solid #ddd;
	border-radius:4px;
  vertical-align: middle;
}

#hatInput{
  margin-left: 15%;
}

button {
  text-align: center;
  width:100px;
  height: 30px;
  margin-left: 48%;
}

#viewCart {
  width:100px;
  height: 30px;
  text-align: center;
  margin: 0;
  position: absolute;
  margin-top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ACOOUNT PAGE */
form {
  position: fixed; 
  top: 40%;
  left: 40%;
  right: 40%; 
  text-align: justify;
  }

input {
  width: 100%;
  font-size: 15px;
}

/* CART PAGE */
#emptyCart{
  margin-top: 15%;
  position: fixed;
  text-align: center;
  width:100%;
  height:100%;
}
